# Theme: {{ meta "name" }}
# Appearance: {{ meta "appearance" }}
# Author: {{ meta "author" }}
# URL: {{ meta "url" }}
# Generated with PaletteSwap (https://github.com/jsvensson/paletteswap)

background = {{ hex "theme.background" }}
foreground = {{ hex "theme.foreground" }}
cursor-color = {{ hex "theme.cursor" }}
selection-background = {{ hex "theme.selection" }}
selection-foreground = {{ hex "theme.foreground" }}

palette = 0={{ hex "ansi.black" }}
palette = 1={{ hex "ansi.red" }}
palette = 2={{ hex "ansi.green" }}
palette = 3={{ hex "ansi.yellow" }}
palette = 4={{ hex "ansi.blue" }}
palette = 5={{ hex "ansi.magenta" }}
palette = 6={{ hex "ansi.cyan" }}
palette = 7={{ hex "ansi.white" }}
palette = 8={{ hex "ansi.bright_black" }}
palette = 9={{ hex "ansi.bright_red" }}
palette = 10={{ hex "ansi.bright_green" }}
palette = 11={{ hex "ansi.bright_yellow" }}
palette = 12={{ hex "ansi.bright_blue" }}
palette = 13={{ hex "ansi.bright_magenta" }}
palette = 14={{ hex "ansi.bright_cyan" }}
palette = 15={{ hex "ansi.bright_white" }}
