# Theme: {{ meta "name" }}
# Appearance: {{ meta "appearance" }}
# Author: {{ meta "author" }}
# URL: {{ meta "url" }}
# Generated with PaletteSwap (https://github.com/jsvensson/paletteswap)

background = {{ bhex "theme.background" }}
foreground = {{ bhex "theme.foreground" }}
cursor-color = {{ bhex "theme.cursor" }}
selection-background = {{ bhex "theme.selection" }}
selection-foreground = {{ bhex "theme.foreground" }}

palette = 0={{ bhex "ansi.black" }}
palette = 1={{ bhex "ansi.red" }}
palette = 2={{ bhex "ansi.green" }}
palette = 3={{ bhex "ansi.yellow" }}
palette = 4={{ bhex "ansi.blue" }}
palette = 5={{ bhex "ansi.magenta" }}
palette = 6={{ bhex "ansi.cyan" }}
palette = 7={{ bhex "ansi.white" }}
palette = 8={{ bhex "ansi.bright_black" }}
palette = 9={{ bhex "ansi.bright_red" }}
palette = 10={{ bhex "ansi.bright_green" }}
palette = 11={{ bhex "ansi.bright_yellow" }}
palette = 12={{ bhex "ansi.bright_blue" }}
palette = 13={{ bhex "ansi.bright_magenta" }}
palette = 14={{ bhex "ansi.bright_cyan" }}
palette = 15={{ bhex "ansi.bright_white" }}
