background = {{ hexBare .Theme.background }}
foreground = {{ hexBare .Theme.foreground }}
cursor-color = {{ hexBare .Theme.cursor }}
selection-background = {{ hexBare .Theme.selection }}
selection-foreground = {{ hexBare .Theme.foreground }}

palette = 0={{ hexBare .ANSI.black }}
palette = 1={{ hexBare .ANSI.red }}
palette = 2={{ hexBare .ANSI.green }}
palette = 3={{ hexBare .ANSI.yellow }}
palette = 4={{ hexBare .ANSI.blue }}
palette = 5={{ hexBare .ANSI.magenta }}
palette = 6={{ hexBare .ANSI.cyan }}
palette = 7={{ hexBare .ANSI.white }}
palette = 8={{ hexBare .ANSI.bright_black }}
palette = 9={{ hexBare .ANSI.bright_red }}
palette = 10={{ hexBare .ANSI.bright_green }}
palette = 11={{ hexBare .ANSI.bright_yellow }}
palette = 12={{ hexBare .ANSI.bright_blue }}
palette = 13={{ hexBare .ANSI.bright_magenta }}
palette = 14={{ hexBare .ANSI.bright_cyan }}
palette = 15={{ hexBare .ANSI.bright_white }}
