{
  "$schema": "https://zed.dev/schema/themes/v0.2.0.json",
  "name": "{{ .Meta.Name }}",
  "author": "{{ .Meta.Author }}",
  "themes": [
    {
      "name": "{{ .Meta.Name }}",
      "appearance": "{{ .Meta.Appearance }}",
      "style": {
        "background": "{{ hex "theme.background" }}",
        "editor.background": "{{ hex "theme.background" }}",
        "editor.foreground": "{{ hex "theme.foreground" }}",
        "editor.gutter.background": "{{ hex "theme.background" }}",
        "editor.active_line.background": "{{ hex "theme.selection" }}",
        "border": "{{ hex "theme.border" }}",
        "border.variant": "{{ hex "theme.active_border" }}",
        "tab_bar.background": "{{ hex "theme.background" }}",
        "tab.inactive_background": "{{ hex "theme.inactive_tab" }}",
        "tab.active_background": "{{ hex "theme.active_tab" }}",
        "terminal.background": "{{ hex "theme.background" }}",
        "terminal.foreground": "{{ hex "theme.foreground" }}",
        "terminal.ansi.black": "{{ hex "ansi.black" }}",
        "terminal.ansi.red": "{{ hex "ansi.red" }}",
        "terminal.ansi.green": "{{ hex "ansi.green" }}",
        "terminal.ansi.yellow": "{{ hex "ansi.yellow" }}",
        "terminal.ansi.blue": "{{ hex "ansi.blue" }}",
        "terminal.ansi.magenta": "{{ hex "ansi.magenta" }}",
        "terminal.ansi.cyan": "{{ hex "ansi.cyan" }}",
        "terminal.ansi.white": "{{ hex "ansi.white" }}",
        "terminal.ansi.bright_black": "{{ hex "ansi.bright_black" }}",
        "terminal.ansi.bright_red": "{{ hex "ansi.bright_red" }}",
        "terminal.ansi.bright_green": "{{ hex "ansi.bright_green" }}",
        "terminal.ansi.bright_yellow": "{{ hex "ansi.bright_yellow" }}",
        "terminal.ansi.bright_blue": "{{ hex "ansi.bright_blue" }}",
        "terminal.ansi.bright_magenta": "{{ hex "ansi.bright_magenta" }}",
        "terminal.ansi.bright_cyan": "{{ hex "ansi.bright_cyan" }}",
        "terminal.ansi.bright_white": "{{ hex "ansi.bright_white" }}",
        "syntax": {
          {{- with index .Syntax "keyword" }}
          "keyword": {
            "color": "{{ hex "syntax.keyword" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          },
          {{- end }}
          {{- with index .Syntax "string" }}
          "string": {
            "color": "{{ hex "syntax.string" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          },
          {{- end }}
          {{- with index .Syntax "comment" }}
          "comment": {
            "color": "{{ hex "syntax.comment" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          },
          {{- end }}
          {{- with index .Syntax "variable" }}
          "variable": {
            "color": "{{ hex "syntax.variable" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          },
          {{- end }}
          {{- with index .Syntax "function" }}
          "function": {
            "color": "{{ hex "syntax.function" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          },
          {{- end }}
          {{- with index .Syntax "type" }}
          "type": {
            "color": "{{ hex "syntax.type" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          },
          {{- end }}
          {{- with index .Syntax "constant" }}
          "constant": {
            "color": "{{ hex "syntax.constant" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          },
          {{- end }}
          {{- with index .Syntax "number" }}
          "number": {
            "color": "{{ hex "syntax.number" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          },
          {{- end }}
          {{- with index .Syntax "boolean" }}
          "boolean": {
            "color": "{{ hex "syntax.boolean" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          },
          {{- end }}
          {{- with index .Syntax "property" }}
          "property": {
            "color": "{{ hex "syntax.property" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          },
          {{- end }}
          {{- with index .Syntax "tag" }}
          "tag": {
            "color": "{{ hex "syntax.tag" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          },
          {{- end }}
          {{- with index .Syntax "attribute" }}
          "attribute": {
            "color": "{{ hex "syntax.attribute" }}"
            {{- if .Bold }}, "font_weight": 700{{ end }}
            {{- if .Italic }}, "font_style": "italic"{{ end }}
          }
          {{- end }}
        },
        "link_text.accent": "{{ hex "theme.url" }}"
      }
    }
  ]
}
